---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <main class="grid h-full place-content-center">
    <div class="text-center">
      <h1 class="text-6xl font-bold">Astro</h1>
      <p class="mt-4 text-lg text-slate-400">The web framework for content-driven websites.</p>
    </div>
  </main>
</Layout>
